/* main.css */

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEEEEE;
}

.gallery-cell {
  width: 80%;
  height: 500px;
  margin-right: 10px;
  background: #FFDAB9;
  counter-increment: gallery-cell;
}

/* cell number */

.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: #FFFFFF;
}