/* main.css */

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.gallery {
  background: #FAFAFA;
}

.gallery-cell {
  width: 66%;
  height: 500px;
  margin-right: 10px;
  background: #333333;
}

/* fade in image when loaded */
.gallery-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  /* If using natural size of images for the size of cells, set a min-width to cells have a size when images are not loaded. */
  min-width: 250px;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.gallery-cell-image.flickity-lazyloaded,
.gallery-cell-image.flickity-lazyerror {
  opacity: 1;
}