/* external css: main.css */

* {
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
}

body {
  font-family      : sans-serif;
}

/* gallery height, as percentage of width */
.gallery {
  background-color : #ECF0F1;
  padding-bottom: 33.3%;
}

/* viewport inherit size from gallery */
.gallery .flickity-viewport {
  position: absolute;
  width: 100%;
}

/* cell inherit height from gallery */
.gallery-cell {
  height: 100%;
  width: 80%;
  margin-right      : 10px;
  background-color  : #E74C3C;
  counter-increment : gallery-cell;

}

.gallery-cell:before {
  display     : block;
  text-align  : center;
  content     : counter(gallery-cell);
  line-height : 200px;
  font-size   : 80px;
  color       : #ECF0F1;
}

