/* main.css */

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEEEEE;
}

.gallery img {
  display: block;
  height: 500px;
}